*{
    margin: 0;
    padding: 0;
}

.img{
    height: 200px;
    width: 250px;
}
.info_dog{
    
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    height: 150px;
    padding: 0;
    margin: 15px 0 ;
}
.name_temper{
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 5px;
}
.name{
    display: inline-flex;
    flex-direction: column;
   
}
.temper{
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
}
.content{
    color: #000000;
    background: #84b6f4;
    display: inline-flex;
    flex-direction: column;
    border: 3px solid #000000;
    width: 250px;
    height: 450px;
    margin: 5px;
}


h1{
    font-size: 15px;
}
